<!-- Navigation -->
    <nav class="navbar navbar-light bg-danger static-top" style="height: 110px">
        <div class="container">
            <a href="home.html">
                <img src="img/pssLogo.png" height="100px" class="center">
            </a>
            <a class="navbar-brand" href="/home">Home</a>
            <a class="navbar-brand" href="/mealplan">Meal Plan</a>
            <a class="navbar-brand" href="/favorites">Favorites</a>
            <a class="navbar-brand" href="/">Log out</a>
        </div>

    </nav>