  <!-- Main  -->

  <div class="container">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-top: 15px">
              <div class="card-body">
                <h3 class="card-title">Suggested Meals</h3>
                </br>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-top: 15px">
            </div>
          </div>
        </div>
        <br/>
        <br/>
      </div>
      <div class="col-4">
        <div class="card" style="width: 22rem; margin-top: 15px">
          <div class="card-body">
            <h5 class="card-title">Info here</h5>
            <p class="card-text">
              Info here
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <footer class="footer bg-warning">
    <div class="container">
      <div class="row">
        <a class="navbar-brand2" href="#">About the Team</a>
        <a class="navbar-brand2" href="#">Contact</a>
        <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        </div>
      </div>
    </div>
  </footer>
