  <!-- Main  -->

  


    <div class="container">
        <div id="recipe-cards" class="section">

            <!--   Returned Recipes Section   -->
        </div>
    </div>

    <script id="card-template" type="text/x-handlebars-template">

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" style="width: 315px">
                        <div class="card-image" style="background-image: url({{recipe.image}}); height: 320px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <!--  <p class="card-text">({{recipe.ingredientLines}})</p> -->
                        <p class="card-text ingredients">" "</p>
                    </div>
                </div>
            </div>
        </div>

    </script>



  <!-- Footer -->
  <footer class="footer bg-warning">
    <div class="container">
      <div class="row">
        <a class="navbar-brand2" href="#">About the Team</a>
        <a class="navbar-brand2" href="#">Contact</a>
        <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        </div>
      </div>
    </div>
  </footer>
 <script type="text/javascript" src="javascript/mealplan.js"></script>
 <script>

 </script>   