      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Do you have any dietary preferences?</h5>
            <p class="card-text">!!!Inserting buttons here!!!!</p>
          
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6" id="food";>   
            <fieldset class="group"> 
                <h6 class="title">Would you avoid any of the following ingredients?</h6> 
                <ul class="checkbox" id="types">
                    <input type="checkbox" id="cb1" value="pork" /><label for="cb1">Pork</label>
                     <input type="checkbox" id="cb2" value="soy" /><label for="cb2">Soy</label>
                    <input type="checkbox" id="cb3" value="redmeat" /><label for="cb3">Red Meat</label>
                    <input type="checkbox" id="cb4" value="nuts" /><label for="cb4">Nuts</label>
                    <input type="checkbox" id="cb5" value="wheat" /><label for="cb5">Wheat</label>
                    <input type="checkbox" id="cb6" value="milk" /><label for="cb6>">Milk</label>
                    <input type="checkbox" id="cb6" value="mushroom" /><label for="cb6>">Mushroom</label>
                    <input type="checkbox" id="cb6" value="shellfish" /><label for="cb6>">Shellfish</label> 
                </ul> 
            </fieldset> 
        </div>
            
            

            
            <div class="col-sm-6" id="home";>
            <h6 class="title"> Are you interested in home delivery?</h6> 
            <ul class="checkbox" id="check";>   
                    <input type="checkbox" id="cb7" value="yes" /><label for="cb7">Yes</label>
                    <input type="checkbox" id="cb8" value="no" /><label for="cb8">No</label>
            </ul> 
                </div>
            
    </div>

    <div class="row">
    <div class="col-sm-12" id="budget";>  
        <h6 class="title"> What is your weekly budget?</h6> 
        <ul class="checkbox" id="checks";>   
                <input type="checkbox" id="cb9" value="$50" /><label for="cb9">>$50</label>
                <input type="checkbox" id="cb10" value="$50-100" /><label for="cb10">$50-$100</label>
                <input type="checkbox" id="cb11" value="$100-150" /><label for="cb11">>$100-150</label>
                <input type="checkbox" id="cb12" value="$150+" /><label for="cb12">$150+</label>
                <input type="checkbox" id="cb13" value="noprefer" /><label for="cb13">No budget preference</label>
        </ul> 
    </div>
    </div>
            
    <div class="wrapper">
    <button class="btn btn-warning my-2 my-sm-0" id="btn1" type="submit">Submit</button>
    </div>         
    
    </div>
    </div>
    </div>

</div>



      <div class="col-6">
          <div class="row">
              <div class="col-12">
        <div class="card" style="margin-top: 15px" border="none">
          <div class="card-body">
            <h5 class="card-title">Info here</h5>
            <p class="card-text">
              Info here
            </p>
          </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Footer -->
  <!--<footer class="footer bg-warning">
    <div class="container">
      <div class="row">
        <a class="navbar-brand2" href="#">About the Team</a>
        <a class="navbar-brand2" href="index.html">Log Out</a>
        <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        </div>
      </div>
    </div>
  </footer>-->