    <!-- Main  -->
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="col-12">
                    <div class="card" style="margin-top: 15px">
                        <div class="card-body">
                            <h3 class="card-title">Results</h3>
                            </br>

                            <!-- card info -->



                            <script id="card-template" type="text/x-handlebars-template">

                                <div class="col s12 m4">
                                    <div class="card" style="height: 425px">
                                        <div class="card-image" style="background-image: url({{image}}); height: 275px; background-size: cover">
                                        </div>
                                        <div class="card-content">
                                            <h6>{{{title}}}</h6>
                                            <p><a href="{{source_url}}" target="blank">Link here</a></p>
                                        </div>
                                    </div>
                                </div>

                            </script>


                            <!-- end card info -->













                        </div>
                    </div>
                </div>


                <br/><br/>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-warning">
        <div class="container">
            <div class="row">
                <a class="navbar-brand2" href="#">About the Team</a>
                <a class="navbar-brand2" href="#">Contact</a>
                <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                </div>
            </div>
        </div>
    </footer>