  <!-- Main  -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <div class="card" style="margin-top: 15px">
              <div class="card-body">
                <h3 class="card-title">Sign Up</h3>
                </br>
                      <div class="row">
                      <div class="col-sm-12">
                        <h5>Preferences:What do you prefer to eat?"</h5>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-4">
                        <img src="img/meat-icon.png" height="100px" class="left">
                      </div>
                      <div class="col-4">
                        <img src="img/seafood-icon.png" height="100px" class="center">
                      </div>
                      <div class="col-4">
                        <img src="img/veggies-icon.png" height="100px" class="right">
                      </div>
                      </div>
                             
              
            
        
            <div class="row">
                <div class="col-sm-12" id="food";>   
                <h6>Would you avoid any of the following ingredients?</h6>
                </div> 
                    <div class="col-sm-6" id="checks" class="left";>
                    <ul class="checkbox" id="types" style="padding-left: 0px";>
                        <ul><input type="checkbox" id="cb1" value="pork" /><label for="cb1">Pork</label></ul>
                        <ul><input type="checkbox" id="cb2" value="soy" /><label for="cb2">Soy</label></ul>
                        <ul><input type="checkbox" id="cb3" value="redmeat" /><label for="cb3">Red Meat</label></ul>
                        <ul><input type="checkbox" id="cb4" value="nuts" /><label for="cb4">Nuts</label></ul>
                    </ul>
                    </div>
                        <div class="col-sm-6" id="checks2" class="left";>
                            <ul class="checkbox" id="types" style="padding-left: 0px";>
                        <ul><input type="checkbox" id="cb5" value="wheat" /><label for="cb5">Wheat</label></ul>
                        <ul><input type="checkbox" id="cb6" value="milk" /><label for="cb6>">Milk</label></ul>
                        <ul><input type="checkbox" id="cb6" value="mushroom" /><label for="cb6>">Mushroom</label></ul>
                        <ul><input type="checkbox" id="cb6" value="shellfish" /><label for="cb6>">Shellfish</label></ul> 
                      </ul> 
                      </div>
              </div>
               
             
      
            </div>
            
         
              </div>
          </div>
          </div>
      </div>
      <div class="col-6">
          <div class="row">
              <div class="col-12">
        <div class="card" style="margin-top: 15px" border="none">
          <div class="card-body">
          </br>
          </br>
            </br>
            <div class="row">
                <div class="col-sm-12" id="food";>   
                <h5>Do you have any dietary preferences?</h5>
                </div> 
              <div class="row">
              <div class="col-6" id="img"> 
              <img src="img/lowCal-icon.png" height="100px" class="left">
            </div>
            <div class="col-6" id="img2" style="padding-left: 45px">
              <img src="img/lowCarb-icon.png" height="100px" class="right">
            </div>
          </div>
          </div>
          <div class="row">
              <div class="col-sm-12" id="food";>   
              <h6>Are you interested in home delivery?</h6>
              </div> 
                  <div class="col-sm-6" id="checks3" class="left";>
                  <ul class="checkbox" id="types5" style="padding-left: 0px";>
                      <ul><input type="checkbox" id="cb13" value="yes" /><label for="cb13">Yes</label></ul>
                      <ul><input type="checkbox" id="cb14" value="no" /><label for="cb14">No</label></ul>
                  </ul>
                </div>
               </div>
              
               <div class="row">
                  <div class="col-sm-12" id="food";>   
                  <h6>What is your weekly budget?</h6>
                  </div> 
                  <ul class="checkbox" id="checks";>   
                      <input type="checkbox" id="cb9" value="$50" /><label for="cb9">>$50</label>
                      <input type="checkbox" id="cb10" value="$50-100" /><label for="cb10">$50-$100</label>
                      <input type="checkbox" id="cb11" value="$100-150" /><label for="cb11">>$100-150</label>
                      <input type="checkbox" id="cb12" value="$150+" /><label for="cb12">$150+</label>
                      <input type="checkbox" id="cb13" value="noprefer" /><label for="cb13">No budget preference</label>
                  </ul> 
          </div>
          </div>
             
                 
            

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    </div>
    </div>
  </div>


  <div class="wrapper">
      <button class="btn btn-warning my-2 my-sm-0" id="btn1" type="submit">Submit</button>
  </div>       
</br>
</br>
  
 
</div>
  
  <!-- Footer -->
  <footer class="footer bg-warning">
    <div class="container">
      <div class="row">
        <a class="navbar-brand2" href="#">About the Team</a>
        <a class="navbar-brand2" href="index.html">Log Out</a>
        <a class="navbar-brand2" href="#">&copy; Prep, Shop & Save 2018. All Rights Reserved.</a>
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        </div>
      </div>
    </div>
  </footer>